<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>index</title>

<!-- Custom fonts for this template-->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">



		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

					<!-- Sidebar Toggle (Topbar) -->
					<button id="sidebarToggleTop"
						class="btn btn-link d-md-none rounded-circle mr-3">
						<i class="fa fa-bars"></i>
					</button>


				</nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid pt-4 px-5 content">
					<!-- Content Row 1 -->
					<div class="row mt-3">




						<div class="col-xl-4 col-md-6 mb-4 px-3"></div>
						<!-- col end -->
						<!-- 관리자 설정 -->
						<div class="col-xl-4 col-md-6 mb-4 px-3">
							<div class="card shadow border-0 p-5">
								<!-- card Header -->
								<h4 class="text-dark font-weight-bold mb-4" align="center">Dev
									In Forest</h4>
								<!-- card Content -->
								<div class="row text-center mb-2">
									<div class="col-xl-12 mb-3">

										<form id="form" method="post" th:action="@{/addMember}">
											<input id="memberEmail" type="hidden" name="memberEmail" value=""> 
											<input id="memberName" type="hidden" name="memberName" value="">
											<div class="row">
												<div class="col-sm-7">
													<span class="memberEmailArea"> 
													<input id="memberEmail2" class="form-control" type="email" name="memberEmail2" placeholder="이메일 입력해주세요">
													</span>
												</div>
												<div class="col-sm-5">
													<button id="emailCheckBtn" type="button" class="btn btn-success btn-block ">중복확인</button>
													
												</div>
												<span id="emailMsg"></span>
											</div>
											<br>
											<div class="row">
												<div class="col-sm-7">
													<input id="memberName2" class="form-control" type="text"
														name="memberName2" placeholder="닉네임을 입력해주세요.">
												</div>
												<div class="col-sm-5">
													<button id="nameCheckBtn" type="button"class=" btn btn-success btn-block">중복확인</button>
													
												</div>
												<span id="nameMsg"></span>
											</div>
											<br>
											<div>
												<div>
													<input id="memberPw" class="form-control" type="password"
														name="memberPassword" placeholder="비밀번호  ex)영문,숫자,특수문자 포함하여 8자리 이상.">
												</div>
											</div>
											<br>
											<button type="button" class="btn btn-success btn-block"
												id="signUpBtn">가입</button>


										</form>
										<br>
										<div class="col-xl-12 mb-3">
											<div class="card border-0 bg-light text-center">
												
													<a class="nav-link text-info" th:href="@{/index}">인덱스</a>
												
											</div>
										</div>
									</div>
									<!-- row end -->
								</div>
								<!-- card end -->
							</div>
							<!-- col end -->
							<div class="col-xl-4 col-md-6 mb-4 px-3"></div>
						</div>
						<!-- /.container-fluid -->
					</div>
					<!-- End of Main Content -->

					<!-- Footer -->
					<footer class="sticky-footer bg-white">
						<div class="container my-auto">
							<div class="copyright text-center my-auto">
								<span>Copyright &copy; Your Website 2020</span>
							</div>
						</div>
					</footer>
					<!-- End of Footer -->

				</div>
				<!-- End of Content Wrapper -->

			</div>
			<!-- End of Page Wrapper -->

			<!-- Scroll to Top Button-->
			<a class="scroll-to-top rounded" href="#page-top"> <i
				class="fas fa-angle-up"></i>
			</a>

			<!-- Logout Modal-->
			<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">로그아웃</h5>
							<button class="close" type="button" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">정말 로그아웃 하시겠습니까?</div>
						<div class="modal-footer">
							<button class="btn btn-secondary" type="button"
								data-dismiss="modal">취소</button>
							<a class="btn btn-primary" th:href="@{/logout}">로그아웃</a>
						</div>
					</div>
				</div>
			</div>

			<!-- Bootstrap core JavaScript-->
			<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
			<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

			<!-- Core plugin JavaScript-->
			<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

			<!-- Custom scripts for all pages-->
			<script th:src="@{/js/sb-admin-2.min.js}"></script>
</body>
<script>
	// 회원가입 유효성 검사
	$('#signUpBtn').click(function(){		
		let pw = $('#memberPw').val();
		let pwNum = pw.search(/[0-9]/);
		let pwEng = pw.search(/[a-z]/);
		let pwSpe = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/);
		
		// 아이디 중복체크 검사
		if($('#memberEmail').val() == ''){
			 alert("아이디를 중복체크 해주세요.");
			 return;
		}
		
		// 닉네임 중복체크 검사
		if($('#memberName').val() == ''){
			 alert("한글기업이름을 중복체크 해주세요.");
			 return;
		}
		
		// 비밀번호 유효성 검사
		if(pw.length < 8 || pw.length > 20){
			 alert("비밀번호는 8자리 ~ 20자리 이내로 입력해주세요.");
			 return;
		}
		if(pw.search(/\s/) != -1){
			alert("비밀번호는 공백 없이 입력해주세요.");
			return;
		}
		if(pwNum < 0 || pwEng < 0 || pwSpe < 0 ){
		 	alert("영문, 숫자, 특수문자를 혼합하여 입력해주세요.");
			return;
		}
		console.log('유효성 검사 통과');
		$('#form').submit();
		
	});
	// 아이디 중복체크
	$('#emailCheckBtn').click(function(){
		
		let email = $('#memberEmail2').val();
		let emailNum = email.search(/[0-9]/);
		console.log(emailNum+" <- emailNum");
		let emailEng = email.search(/[a-z]/);
		console.log(emailEng+" <- emailEng");
		let emailBigEng = email.search(/[A-Z]/);
		console.log(emailBigEng+" <- emailBigEng");
		let emailKor = email.search(/[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/);
		console.log(emailKor+" <- emailKor");
		let emailSpe = email.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/);
		console.log(emailSpe+" <- emailSpe");
		console.log("----------------------");
		
		if(email.length < 5 || email.length > 20){
			 alert("아이디는 5자리 ~ 20자리 이내로 입력해주세요.");
			 return;
		}
		if(email.search(/\s/) != -1){
	 		alert("아이디는 공백 없이 입력해주세요.");
		 	return;
		}
		
		
		
		let memberEmail2 = $('#memberEmail2').val();
		$.ajax({
            url:'/checkMemberEmail'
            ,type:'POST'
            ,data:{'memberEmail2':memberEmail2}
            ,success : function(data) {
        		console.log(data);
        		$('#emailMsg').text(data);
        		if(data == "사용가능한 이메일입니다.") {
        			$('#memberEmail').val(email);
        		}
            }
		});
	});
	
	$('#nameCheckBtn').click(function(){
		
		let name = $('#memberName2').val();
		let nameNum = name.search(/[0-9]/);
		let nameEng = name.search(/[a-z]/);
		let nameSpe = name.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/);
		
		if(name.length < 2 || name.length > 10){
			 alert("닉네임은 2자리 ~ 10자리 이내로 입력해주세요.");
			 return;
		}
		if(nameEng != -1){
	 		alert("한글은 한글로만 입력해주세요.");
		 	return;
		}
		if(name.search(/\s/) != -1){
	 		alert("닉네임은 공백 없이 입력해주세요.");
		 	return;
		}
		if(nameSpe != -1){
	 		alert("닉네임은 특수문자를 포함할 수 없습니다.");
		 	return;
		}
		
		let memberName2 = $('#memberName2').val();
		$.ajax({
            url:'/checkMemberName'
            ,type:'POST'
            ,data:{'memberName2':memberName2}
            ,success : function(data) {
        		console.log(data);
        		$('#nameMsg').text(data);
        		if(data == "사용가능한 닉네임입니다.") {
        			$('#memberName').val(name);
        		}
            }
		});
	});
	
	</script>
</html>
