<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>memberList</h1>
	<a th:href="@{/home}">홈으로</a>
	<form method="GET" th:action="@{/getMemberList}">
				<input type="text" name="searchWord" th:value="${searchWord}" placeholder="닉네임 검색">
				<button type="submit">검색</button>
			</form>
	<table border="1">
		<tr>
			<td th:text="이메일"></td>
			<td>이름</td>
			<td>내공</td>
		</tr>
		<tr th:each="member :${memberList}">
			
			<td><a th:href="@{/getMemberInfo(memberEmail=${member.memberEmail})}" th:text="${member.memberEmail}"></a></td>
			<td ><a th:href="@{/getMemberInfo(memberEmail=${member.memberEmail})}" th:text="${member.memberName}"></a></td>
			<td  ><a th:href="@{/getMemberInfo(memberEmail=${member.memberEmail})}" th:text="${member.memberReputation}"></a></td>
		</tr>
	</table>
	<div>
			<a th:href="@{/getMemberList(currentPage=1,rowPerPage=${rowPerPage},searchWord=${searchWord})}">처음</a>
			<a th:if="${currentPage == 1}" th:href="@{/getMemberList(currentPage=1,rowPerPage=${rowPerPage},searchWord=${searchWord})}">이전</a>
			<a th:if="${currentPage > 1}" th:href="@{/getMemberList(currentPage=${currentPage-1},rowPerPage=${rowPerPage},searchWord=${searchWord})}">이전</a>
			<span th:text="'-'+${currentPage}+'-'"></span>
			<a th:if="${memberTotalCount == 0}" th:href="@{/getMemberList(currentPage=1,rowPerPage=${rowPerPage},searchWord=${searchWord})}">다음</a>
			<a th:if="${currentPage < lastPage}" th:href="@{/getMemberList(currentPage=${currentPage+1},rowPerPage=${rowPerPage},searchWord=${searchWord})}">다음</a>
			<a th:if="${currentPage == lastPage}" th:href="@{/getMemberList(currentPage=${lastPage},rowPerPage=${rowPerPage},searchWord=${searchWord})}">다음</a>
			<a th:if="${memberTotalCount == 0}"th:href="@{/getMemberList(currentPage=1,rowPerPage=${rowPerPage},searchWord=${searchWord})}">마지막</a>
			<a th:if="${memberTotalCount != 0}"th:href="@{/getMemberList(currentPage=${lastPage},rowPerPage=${rowPerPage},searchWord=${searchWord})}">마지막</a>
		</div>
</body>
</html>