<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		
		<title th:text="${member.memberEmail}+'회원 조회'"></title>
		
		<!-- Custom fonts for this template-->
		<link th:href="@{/vendor/fontawesome-free/css/all.min.css}"
			rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
		
		<!-- Custom styles for this template-->
		<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
		
		<!--  addAdmin template -->
		<link th:href="@{/css/addAdmin.css}" rel="stylesheet">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		
		<style>
			th{
				text-align: center;
				color:white;
				background: #148b61;
			}
		</style>
	</head>
	<body id="page-top">
		<!-- Page Wrapper -->
		<div id="wrapper">
		
			<!-- 사이드 바 -->
			<div>
				<div th:include="/include/adminSide::adminSideBar" style="height: 100%"></div>
			</div>
			<!-- 사이드바 끝 -->
			
			<!-- Content Wrapper -->
			<div id="content-wrapper" class="d-flex flex-column">
	
				<!-- Main Content -->
				<div id="content">
	
					<!-- 상단 바 -->
					<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
	
						<!-- Sidebar Toggle (Topbar) -->
						<button id="sidebarToggleTop"
							class="btn btn-link d-md-none rounded-circle mr-3">
							<i class="fa fa-bars"></i>
						</button>
	
						<!-- 상단 검색창 -->
						<form
							class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
							<div class="input-group">
								<input type="text" class="form-control bg-light border-0 small"
									placeholder="Search for..." aria-label="Search"
									aria-describedby="basic-addon2">
								<div class="input-group-append">
									<button class="btn btn-success" type="button">
										<i class="fas fa-search fa-sm"></i>
									</button>
								</div>
							</div>
						</form>
						<!-- 상단 검색창 끝 -->
	
						<!-- Topbar Navbar -->
						<ul class="navbar-nav ml-auto">
	
							<!-- Nav Item - Search Dropdown (Visible Only XS) -->
							<li class="nav-item dropdown no-arrow d-sm-none"><a
								class="nav-link dropdown-toggle" href="#" id="searchDropdown"
								role="button" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false"> <i class="fas fa-search fa-fw"></i>
							</a> <!-- Dropdown - Messages -->
								<div
									class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
									aria-labelledby="searchDropdown">
									<form class="form-inline mr-auto w-100 navbar-search">
										<div class="input-group">
											<input type="text"
												class="form-control bg-light border-0 small"
												placeholder="Search for..." aria-label="Search"
												aria-describedby="basic-addon2">
											<div class="input-group-append">
												<button class="btn btn-primary" type="button">
													<i class="fas fa-search fa-sm"></i>
												</button>
											</div>
										</div>
									</form>
								</div>
							</li>
	
							<!-- 닉네임 나오는 곳 - 상단 바 -->
							<li class="nav-item dropdown no-arrow">
								<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="mr-2 d-none d-lg-inline text-gray-600 small">로그인 중인 닉네임</span>
									<img class="img-profile rounded-circle" th:src="@{/img/img.png}">
								</a>
								<!-- Dropdown - User Information -->
								<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
									<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
									<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
										로그아웃
									</a>
								</div>
							</li>
							<!-- 닉네임 나오는 곳 - 상단 바 끝-->
						</ul>
					</nav>
					<!-- 상단 바 끝 -->
	
					<!-- 내용 넣는 곳 -->
					<div class="container-fluid pt-4 px-5 content">
					
						<div>
							<h3 class="text-gray-800 mb-2 font-weight-bold">일반회원 조회</h3>
						</div>
						<hr>
						<div class="card" style="padding:20px;">
							<div>
								<table class="table">
									<tr>
										<th width="10%">이메일</th>
										<td class="darkColor" th:text="${member.memberEmail}"></td>
										<th width="10%">닉네임</th>
										<td class="darkColor" th:text="${member.memberName}"></td>
										<th width="10%">내공</th>
										<td class="darkColor" th:text="${member.memberReputation}"></td>
										<th width="10%">사용자 지역</th>
										<td class="darkColor" th:text="${member.memberLocation}"></td>
									</tr>
									<tr>
										<th width="10%">사용자 번호</th>
										<td class="darkColor" th:text="${member.memberPhone}"></td>
										<th width="10%">사용자 개인링크</th>
										<td class="darkColor" th:text="${member.memberLink}"></td>
										<th width="10%">사용자 성별</th>
										<td class="darkColor" th:text="${member.memberGender}"></td>
										<th width="10%">사용자 생일</th>
										<td class="darkColor" th:text="${member.memberBirth}"></td>
									</tr>
									<tr>
										<th width="10%">사용자 정보</th>
										<td class="darkColor" colspan="3" th:text="${member.memberAbout}"></td>
										<th width="10%">가입일자</th>
										<td class="darkColor" th:text="${member.memberDate}"></td>
										<th width="10%">활동여부</th>
										<td class="darkColor" th:text="${member.memberState}"></td>
									</tr>
								</table>
							</div>
							<hr>
							<div class="row" style="padding: 0px 10px;">
								<div class="col-sm-6 text-left">
									<a class="btn pageBtn" th:href="@{/admin/getMemberList}">목록</a>
								</div>
								<div class="col-sm-6 text-right">
									<a class="btn pageBtn" th:href="@{/#}">블랙시키기</a>
								</div>
							</div>
						</div>
						
					</div>
						<!-- /.container-fluid -->
				</div>
				<!-- End of Main Content -->
		
				<!-- 하단 저작권 -->
				<footer class="sticky-footer bg-white">
					<div class="container my-auto">
						<div class="copyright text-center my-auto">
							<span>Copyright &copy; Your Website 2020</span>
						</div>
					</div>
				</footer>
				<!-- 하단 저작권 끝 -->
		
			</div>
			<!-- End of Content Wrapper -->
	
		</div>
		<!-- End of Page Wrapper -->
	
		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top"> <i
			class="fas fa-angle-up"></i>
		</a>
		<!-- Logout Modal-->
		<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">로그아웃</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">정말 로그아웃 하시겠습니까?</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
						<a class="btn btn-primary" th:href="@{/logout}">로그아웃</a>
					</div>
				</div>
			</div>
		</div>
	
		<!-- Bootstrap core JavaScript-->
		<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
		<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	
		<!-- Core plugin JavaScript-->
		<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
	
		<!-- Custom scripts for all pages-->
		<script th:src="@{/js/sb-admin-2.min.js}"></script>
	</body>
	<script>
	
	</script>
</html>
