<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>관리자 등록</title>

<!-- Custom fonts for this template-->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

<!--  addAdmin template -->
<link th:href="@{/css/addAdmin.css}" rel="stylesheet">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<style>
.none {
	border: 0px;
}

.adminEmailArea {
	border: 1px solid black;
	padding: 1px;
}

.width1 {
	width: 80px;
}

.width2 {
	width: 110px;
}
</style>
</head>
<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- 사이드 바 -->
		<div>
			<div th:include="/include/adminSide::adminSideBar"></div>
		</div>
		<!-- 사이드바 끝 -->
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

					<!-- Sidebar Toggle (Topbar) -->
					<button id="sidebarToggleTop"
						class="btn btn-link d-md-none rounded-circle mr-3">
						<i class="fa fa-bars"></i>
					</button>

					<!-- 상단 검색창 -->
					<form
						class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
						<div class="input-group">
							<input type="text" class="form-control bg-light border-0 small"
								placeholder="Search for..." aria-label="Search"
								aria-describedby="basic-addon2">
							<div class="input-group-append">
								<button class="btn btn-success" type="button">
									<i class="fas fa-search fa-sm"></i>
								</button>
							</div>
						</div>
					</form>

					<!-- Topbar Navbar -->
					<ul class="navbar-nav ml-auto">

						<!-- Nav Item - Search Dropdown (Visible Only XS) -->
						<li class="nav-item dropdown no-arrow d-sm-none"><a
							class="nav-link dropdown-toggle" href="#" id="searchDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"> <i class="fas fa-search fa-fw"></i>
						</a> <!-- Dropdown - Messages -->
							<div
								class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
								aria-labelledby="searchDropdown">
								<form class="form-inline mr-auto w-100 navbar-search">
									<div class="input-group">
										<input type="text"
											class="form-control bg-light border-0 small"
											placeholder="Search for..." aria-label="Search"
											aria-describedby="basic-addon2">
										<div class="input-group-append">
											<button class="btn btn-primary" type="button">
												<i class="fas fa-search fa-sm"></i>
											</button>
										</div>
									</div>
								</form>
							</div></li>

						<!-- Nav Item - User Information -->
						<li class="nav-item dropdown no-arrow"><a
							class="nav-link dropdown-toggle" href="#" id="userDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"> <span
								class="mr-2 d-none d-lg-inline text-gray-600 small">로그인
									관리자 닉네임</span> <img class="img-profile rounded-circle"
								th:src="@{/adminBootstrap/img/img.png}">
						</a> <!-- Dropdown - User Information -->
							<div
								class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
								aria-labelledby="userDropdown">
								<a class="dropdown-item" href="#" data-toggle="modal"
									data-target="#logoutModal"> <i
									class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
									로그아웃
								</a>
							</div></li>

					</ul>

				</nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid pt-4 px-5 content">
					<div class="row">
						<div class="col-lg-10 col-xl-9 mx-auto">
							<div class="card card-signin flex-row my-5">
								<div class="card-img-left d-none d-md-flex">
									<!-- Background image for card set in CSS! -->
								</div>
								<div class="card-body">
									<h4 class="text-dark font-weight-bold mb-4 text-center">관리자 등록</h4>
									<form class="form-signin" id="addAdminForm" method="post" th:action="@{/addAdmin}">
										<input id="adminEmail" type="hidden" name="adminEmail" value="">
										<input id="adminName" type="hidden" name="adminName" value="">
										<div class="form-label-group">
											<input type="text" id="inputUserame" class="form-control" name="adminEmail2" placeholder="아이디" required autofocus>
											<label for="inputUserame">@devinforest.com</label>
											<div>
												<button id="emailCheckBtn" class="checkBtn btn-success" type="button">중복확인</button>
												<span id="emailMsg"></span>
											</div>
										</div>

										<div class="form-label-group">
											<input type="text" id="inputEmail" class="form-control" name="adminName2" placeholder="닉네임" required>
											<label for="inputEmail">닉네임</label>
											<div>
												<button id="nameCheckBtn" class="checkBtn btn-success" type="button">중복확인</button>
												<span id="nameMsg"></span>
											</div>
										</div>
										<div class="form-label-group">
											<input type="password" id="inputPassword" class="form-control" name="adminPw" placeholder="비밀번호" required>
											<label for="inputPassword">비밀번호</label>
										</div>
										<button id="signUpBtn" class="btn btn-lg btn-success btn-block text-uppercase" type="button">등록하기</button>
									</form>
									<hr>
									<div class="text-center">
										아이디는 자동으로 @devinforest.com 이메일 형식으로 생성됩니다.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- End of Main Content -->

			<!-- 하단 저작권 -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; Your Website 2020</span>
					</div>
				</div>
			</footer>
			<!-- 하단 저작권 끝 -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">로그아웃</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">정말 로그아웃 하시겠습니까?</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">취소</button>
					<a class="btn btn-primary" th:href="@{/logout}">로그아웃</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Core plugin JavaScript-->
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/sb-admin-2.min.js}"></script>
</body>
<script>
	// 회원가입 유효성 검사
	$('#signUpBtn').click(function(){		
		let pw = $('#inputPassword').val();
		let pwNum = pw.search(/[0-9]/);
		let pwEng = pw.search(/[a-z]/);
		let pwSpe = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/);
		
		// 아이디 중복체크 검사
		if($('#adminEmail').val() == ''){
			 alert("아이디를 중복체크 해주세요.");
			 return;
		}
		
		// 닉네임 중복체크 검사
		if($('#adminName').val() == ''){
			 alert("닉네임을 중복체크 해주세요.");
			 return;
		}
		
		// 비밀번호 유효성 검사
		if(pw.length < 8 || pw.length > 20){
			 alert("비밀번호는 8자리 ~ 20자리 이내로 입력해주세요.");
			 return;
		}
		if(pw.search(/\s/) != -1){
			alert("비밀번호는 공백 없이 입력해주세요.");
			return;
		}
		if(pwNum < 0 || pwEng < 0 || pwSpe < 0 ){
		 	alert("영문, 숫자, 특수문자를 혼합하여 입력해주세요.");
			return;
		}
		console.log('유효성 검사 통과');
		$('#addAdminForm').submit();
		
	});
	// 아이디 중복체크
	$('#emailCheckBtn').click(function(){
		$('#adminEmail').val('');
		let email = $('#inputUserame').val();
		let emailNum = email.search(/[0-9]/);
		console.log(emailNum+" <- emailNum");
		let emailEng = email.search(/[a-z]/);
		console.log(emailEng+" <- emailEng");
		let emailBigEng = email.search(/[A-Z]/);
		console.log(emailBigEng+" <- emailBigEng");
		let emailKor = email.search(/[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/);
		console.log(emailKor+" <- emailKor");
		let emailSpe = email.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/);
		console.log(emailSpe+" <- emailSpe");
		console.log("----------------------");
		
		if(email.length < 5 || email.length > 20){
			 alert("아이디는 5자리 ~ 20자리 이내로 입력해주세요.");
			 return;
		}
		if(email.search(/\s/) != -1){
	 		alert("아이디는 공백 없이 입력해주세요.");
		 	return;
		}
		if(emailSpe != -1){
			alert("아이디는 특수문자 없이 입력해주세요.");
			return;
		}
		if(emailKor != -1 || emailBigEng != -1 || emailNum == 0){
			alert("아이디는 영문 소문자+숫자 또는, 영문 소문자로 입력해주세요.");
			return;
		}
		
		let adminEmail2 = $('#inputUserame').val();
		$.ajax({
            url:'/checkAdminEmail'
            ,type:'POST'
            ,data:{'adminEmail2':adminEmail2}
            ,success : function(data) {
        		console.log(data);
        		$('#emailMsg').text(data);
        		if(data == "사용가능한 이메일입니다.") {
        			$('#adminEmail').val(email);
        		}
            }
		});
	});
	
	$('#nameCheckBtn').click(function(){
		$('#adminName').val('');
		let name = $('#inputEmail').val();
		let nameNum = name.search(/[0-9]/);
		let nameEng = name.search(/[a-z]/);
		let nameSpe = name.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/);
		
		if(name.length < 2 || name.length > 10){
			 alert("닉네임은 2자리 ~ 10자리 이내로 입력해주세요.");
			 return;
		}
		if(name.search(/\s/) != -1){
	 		alert("닉네임은 공백 없이 입력해주세요.");
		 	return;
		}
		if(nameSpe != -1){
	 		alert("닉네임은 특수문자를 포함할 수 없습니다.");
		 	return;
		}
		
		let adminName2 = $('#inputEmail').val();
		$.ajax({
            url:'/checkAdminName'
            ,type:'POST'
            ,data:{'adminName2':adminName2}
            ,success : function(data) {
        		console.log(data);
        		$('#nameMsg').text(data);
        		if(data == "사용가능한 닉네임입니다.") {
        			$('#adminName').val(name);
        		}
            }
		});
	});
	</script>
</html>