<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function(){
		let memberName = $('#memberName').val();
		let questionNo = $('#questionNo').val();
		$.ajax({
			url: '/voteTotalCount',
			type: 'GET',
			data: {'questionNo' : questionNo},
			success : function(data) {
				$('#count').text(data);
			}
		});
		$('#upBtn').click(function(){
			$.ajax({
				url: '/plusVote',
				type: 'GET',
				data: {'memberName' : memberName, 'questionNo' : questionNo},
				success : function(data) {
					$('#count').remove();
					$('#voteTotalCount').append('<div id="count">' + data + '</div>');
	                console.log("좋아요 성공");
				}
			});
		});
		$('#downBtn').click(function(){
			$.ajax({
				url: '/minusVote',
				type: 'GET',
				data: {'memberName' : memberName, 'questionNo' : questionNo},
				success : function(data) {
					$('#count').remove();
					$('#voteTotalCount').append('<div id="count">' + data + '</div>');
	                console.log("싫어요 성공");
				}
			});
		});
		
	});

</script>

</head>
<body>
	<h1 th:text="상세보기"></h1>
		
		
		<button type="button" id="upBtn">좋아요</button>
		<div id="voteTotalCount">
			<div id="count"></div>
		</div>
		<button type="button" id="downBtn">싫어요</button>
		<table border="1">
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>내용</th>
					<th>작성자</th>
					<th>조회수</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${question.questionNo}"></td>
					<td th:text="${question.questionTitle}"></td>
					<td th:text="${question.questionContent}"></td>
					<td th:text="${question.memberName}"></td>
					<td th:text="${viewsCount}"></td>
				</tr>
			</tbody>
		</table>
		<input type="hidden" id="questionNo" th:value="${question.questionNo}">
		<input type="hidden" id="memberName" th:value="${memberName}">
</body>
</html>