<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function(){
		let memberName = $('#memberName').val();
		let questionNo = $('#questionNo').val();
		let commentIp = $('#commentIp').val();
		let answerContent = $('#addAnswerContent').val();
		let showMore = true;
		
		console.log(memberName);
		console.log(questionNo);
		console.log(commentIp);
		console.log(answerContent);
		
		
		$.ajax({
			url: '/voteTotalCount',
			type: 'GET',
			data: {'questionNo' : questionNo},
			success : function(data) {
				$('#count').text(data);
			}
		});
		$.ajax({
			url: '/getAnswerList',
			type: 'GET',
			data: {'questionNo' : questionNo},
			success : function(data) {
				console.log(data['answerList']);
				console.log(data['lastPage']);
				$.each(data['answerList'], function(index, item){
					$('#answerList').append('<div>'+ item.answerContent + '</div>');
					$('#answerList').append('<div>'+ item.memberName + '</div>');
					$('#answerList').append('<div id="answerCommentList'+ index +'"></div>');
					$('#answerList').append('<div id="answerCommentAllList'+ index +'"></div>');
					$('#answerList').append('<div id="answerComment'+index +'"><a id="writeAnswerCommentBtn' + index + '" href="#">댓글 작성</a></div>');					
					$('#answerList').append('<hr>');
				});
				
				
				// 출력 위치 수정
				$.each(data['answerList'], function(index, item){
					$.ajax({
						url: '/getAnswerCommentList',
						type: 'GET',
						data: {'answerNo' : item.answerNo},
						success: function(data) {
							$(data).each(function(index, item){
								$('#answerCommentList' + index).append('<tr>');
								$('#answerCommentList' + index).append('<td>' + item.answerCommentContent +'</td>');
								$('#answerCommentList' + index).append('<td>' + item.memberName + '</td>');
								$('#answerCommentList' + index).append('</tr>');
								
								console.log($(data).length + "<--- AnswerCommentList");
								
							});
								if($(data).length >= 5) {
									$('#showMore').append('<a id="changeRowPerPage" href="#">show more comment</a>');
								}
						
							$('#changeRowPerPage').click(function(){
								$.ajax({
									url: '/getAnswerCommentList',
									type: 'GET',
									data: {'answerNo' : item.answerNo, 'showMore' : showMore},
									success : function(data) {
										$(data).each(function(index, item){
											$('#answerCommentList' + index).remove();
											$('#answerCommentAllList' + index).append('<tr>');
											$('#answerCommentAllList' + index).append('<td>' + item.questionCommentContent +'</td>');
											$('#answerCommentAllList' + index).append('<td>' + item.memberName + '</td>');
											$('#answerCommentAllList' + index).append('</tr>');
											$('#changeRowPerPage').remove();
											
											console.log($(data).length + "<--- AnswerCommentList");
											
										});
										console.log("변경성공");
									}
								});
							});
						} 
					});
				});
				$.each(data['answerList'], function(index, item){
					$('#writeAnswerCommentBtn'+ index).click(function() {
						$('#writeAnswerCommentBtn' + index).remove();
						console.log("writeAnswerCommentBtn click");
						$('#answerComment'+ index).append('<input type="text" id="answerCommentContent'+ index +'"></input><button type="button" id="answerWriteBtn' + index + '">작성</button>');
						$('#answerWriteBtn' + index).click(function() {
							console.log("answerWriteBtn click");
							
							let answerCommentContent = $('#answerCommentContent' + index).val();
	
							$.ajax({
								url: '/addAnswerComment',
								type: 'POST',
								data: {'answerNo' : item.answerNo, 'memberName' : memberName, 'answerCommentContent' : answerCommentContent, 'answerCommentIp' : commentIp},
								success : function() {
									$('#answerCommentContent' + index).remove();
									$('#writeAnswerCommentBtn' + index).remove();
									$('#answerWriteBtn' + index).remove();
									$('#answerComment' + index).append('<a id="writeAnswerCommentBtn' + index + '" href="#">댓글 작성</a>');
									console.log("질문 댓글 작성 성공");
								}
							});
						});
					});
					
				});
			}
		});
		$.ajax({
			url: '/getQuestionCommentList',
			type: 'GET',
			data: {'questionNo' : questionNo},
			success: function(data) {
				$(data).each(function(index, item){
					$('#questionCommentList').append('<tr>');
					$('#questionCommentList').append('<td>' + item.questionCommentContent +'</td>');
					$('#questionCommentList').append('<td>' + item.memberName + '</td>');
					$('#questionCommentList').append('</tr>');
					
					console.log($(data).length + "<--- QuestionCommentList");
					
				});
					if($(data).length >= 5) {
						$('#showMore').append('<a id="changeRowPerPage" href="#">show more comment</a>');
					}
			
				$('#changeRowPerPage').click(function(){
					$.ajax({
						url: '/getQuestionCommentList',
						type: 'GET',
						data: {'questionNo' : questionNo, 'showMore' : showMore},
						success : function(data) {
							$(data).each(function(index, item){
								$('#questionCommentList').remove();
								$('#questionCommentAllList').append('<tr>');
								$('#questionCommentAllList').append('<td>' + item.questionCommentContent +'</td>');
								$('#questionCommentAllList').append('<td>' + item.memberName + '</td>');
								$('#questionCommentAllList').append('</tr>');
								$('#changeRowPerPage').remove();
								
								console.log($(data).length + "<--- QuestionCommentList");
								
							});
							console.log("변경성공");
						}
					});
				});
			} 
		});
		
		$('#upBtn').click(function(){
			if(memberName == "Guest") {
				alert("Geust는 투표를 할 수 없습니다.");
				return;
			}
			// 투표를 한 데이터가 있어야 없을 때
			$.ajax({
				url:'/voteCheck',
				type: 'GET',
				data: {'memberName' : memberName, 'questionNo' : questionNo},
				success: function(data) {
					console.log(data);
					if(data != null) {
						$.ajax({
							url: '/plusVote',
							type: 'GET',
							data: {'memberName' : memberName, 'questionNo' : questionNo},
							success : function(data) {
								$('#count').remove();
								$('#voteTotalCount').append('<div id="count">' + data + '</div>');
				                console.log("좋아요 성공");
				                $('#downBtn').attr("disabled", true);
				                return false;
							}
						});
					} 
					$.ajax({
						url: '/deleteVote',
						type: 'GET',
						data: {'memberName' : memberName, 'questionNo' : questionNo},
						success : function(data) {
							$('#downBtn').attr("disabled", false);
							$('#count').remove();
							$('#voteTotalCount').append('<div id="count">' + data + '</div>');
							console.log("삭제 성공");	
						    return;
						}
					});
				}
			});
		});
		
		$('#downBtn').click(function(){
			if(memberName == "Guest") {
				alert("Geust는 투표를 할 수 없습니다.");
				return;
			}
			$.ajax({
				url:'/voteCheck',
				type: 'GET',
				data: {'memberName' : memberName, 'questionNo' : questionNo},
				success: function(data) {
					if(data != null) {
						$.ajax({
							url: '/minusVote',
							type: 'GET',
							data: {'memberName' : memberName, 'questionNo' : questionNo},
							success : function(data) {
								$('#count').remove();
								$('#voteTotalCount').append('<div id="count">' + data + '</div>');
								$('#upBtn').attr("disabled", true);
								console.log("싫어요 성공");
				                return false;
							}
						});
					} 
					$.ajax({
						url: '/deleteVote',
						type: 'GET',
						data: {'memberName' : memberName, 'questionNo' : questionNo},
						success : function(data) {
							$('#count').remove();
							$('#voteTotalCount').append('<div id="count">' + data + '</div>');
							$('#upBtn').attr("disabled", false);
							console.log("삭제 성공");	
			            	return;
						}
					});
				}
			});
		});
		
		$('#writeQuestionCommentBtn').click(function() {
			$('#writeQuestionCommentBtn').remove();
			$('#questionComment').append('<input type="text" id="questionCommentContent"></input><button type="button" id="writeBtn">작성</button>');
			
			$('#writeBtn').click(function() {
				console.log("writeBtn click");
				
				let questionCommentContent = $('#questionCommentContent').val();

				$.ajax({
					url: '/addQuestionComment',
					type: 'POST',
					data: {'questionNo' : questionNo, 'memberName' : memberName, 'questionCommentContent' : questionCommentContent, 'questionCommentIp' : commentIp},
					success : function() {
						$('#questionCommentContent').remove();
						$('#writeBtn').remove();
						$('#questionComment').append('<a id="writeQuestionCommentBtn" href="#">댓글 작성</a>');
						console.log("질문 댓글 작성 성공");
					}
				});
			});
		});
	
		
		$('#addAnswerBtn').click(function(){
			console.log("addAnswerBtn click");
			let addAnswerContent = $('#addAnswerContent').val();
			console.log($('#addAnswerContent').val());
			$.ajax({
				url: '/addAnswer',
				type: 'POST',
				data: {'memberName' : memberName, 'questionNo' : questionNo, 'answerContent' : addAnswerContent, 'answerIp' : commentIp},
				success : function() {
					$.ajax({
						url: '/getAnswerList',
						type: 'GET',
						data: {'questionNo' : questionNo},
						success : function(data) {
							console.log(data['answerList']);
							console.log(data['lastPage']);
							$.each(data['answerList'], function(index, item){
								$('#answerList').remove();
								$('#addedAnswerList').append('<div>'+ item.answerContent + '</div>');
								$('#addedAnswerList').append('<div>'+ item.memberName + '</div>');
								$('#addedAnswerList').append('<hr>');
							});	
							
						}
					});
				}
			});
		});
	});

</script>

</head>
<body>
	<h1 th:text="상세보기"></h1>
		
		
		<button type="button" id="upBtn">▲</button>
		<div id="voteTotalCount">
			<div id="count"></div>
		</div>
		<button type="button" id="downBtn">▼</button>
		
		<a th:href="@{/modifyQuestion(questionNo=${question.questionNo})}">수정</a>
		<table border="1">
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>내용</th>
					<th>작성자</th>
					<th>조회수</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${question.questionNo}"></td>
					<td th:text="${question.questionTitle}"></td>
					<td th:text="${question.questionContent}"></td>
					<td th:text="${question.memberName}"></td>
					<td th:text="${viewsCount}"></td>
				</tr>
			</tbody>
		</table>
		<div id="questionCommentList">
			
		</div>
		<div id="questionCommentAllList">
			
		</div>
		<div id="showMore">
			
		</div>
		<div id="questionComment">
			<a id="writeQuestionCommentBtn" href="#">댓글 작성</a>
		</div>
		
		
		<!-- 댓글 rowperpage가 안보임 -->
		<!-- 답변 리스트 안보임 -->
		<!-- restcontroller 완성해야함 -->
		
		<!-- 답변 리스트 -->
		<div id="answerList">
		<hr>
		</div>
		<div id="addedAnswerList">
		<hr>
		</div>
		<!-- 답변 작성 -->
		<textarea rows="5" cols="100" id="addAnswerContent" placeholder="Enter your answer this area"></textarea>
		<br>
		<button id="addAnswerBtn">답변작성</button>
	
		
		<input type="hidden" id="rowPerPage">
		<input type="hidden" id="questionNo" th:value="${question.questionNo}">
		<input type="hidden" id="memberName" th:value="${memberName}">
		<input type="hidden" id="commentIp" th:value="${ip}">
		
</body>
</html>