<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>자주묻는질문 작성</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
	<body>
		<div>
			<h1>FAQ 작성</h1>
		</div>
		<div>
			<form id="addFAQForm" method="post" th:action="@{/addFAQ}">
				<div>
					<input id="noticeTitle" type="text" name="noticeTitle" placeholder="제목을 입력해주세요">
				</div>
				<div>
					<textarea rows="5" cols="20" id="noticeContent" name="noticeContent" placeholder="내용을 입력해주세요"></textarea>
				</div>
				<div>
					<span th:text="${admin}+'님께서 작성중이십니다.'"></span>
				</div>
				<button id="addFAQBtn" type="button">작성완료</button>
			</form>
		</div>
	</body>
	<script>
	$('#addFAQBtn').click(function(){
		console.log($('#noticeTitle').val());
		console.log($('#noticeContent').val());
		
		let noticeTitle = $('#noticeTitle').val();
		let noticeContent = $('#noticeContent').val();
		
		if(noticeTitle == "") {
			alert('제목을 입력해주세요.');
			return;
		}
		if(noticeTitle.length < 2 || noticeTitle.length > 20){
			alert('제목은 2자리 ~ 20자리 이내로 입력해주세요.');
			return;
		}
		if(noticeTitle.search(/\s/) == 0){
			alert("제목은 공백으로 시작할 수 없습니다.");
			return;
		}
		if(noticeContent == "") {
			alert('내용을 입력해주세요.');
			return;
		}
		$('#addFAQForm').submit();
	});
	</script>
</html>