<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<meta charset="UTF-8">
		<title th:text="${FAQ.noticeTitle}"></title>
	</head>
	<body>
		<div>
			<h1>FAQ 상세보기</h1>
		</div>
		<div>
			<div>
				FAQ 번호 :
				<span th:text="${FAQ.noticeNo}"></span>
			</div>
			<div>
				작성자 : 
				<span th:text="${FAQ.adminName}"></span>
			</div>
			<div>
				작성일 :
				<span th:text="${FAQ.noticeDate}"></span>
			</div>
			<div>
				제목 :
				<span th:text="${FAQ.noticeTitle}"></span>
			</div>
			<div>
				내용 :
				<span th:text="${FAQ.noticeContent}"></span>
			</div>
		</div>	
		<div>
			<div>
				<button id="removeFAQBtn" type="button">FAQ 삭제</button>
				<form id="removeFAQForm" method="post" th:action="@{/removeFAQ(noticeNo=${FAQ.noticeNo})}"></form>
			</div>
			<div>
				<button id="modifyFQABtn" type="button">FAQ 수정</button>
				<form id="modifyFQAForm" method="post" th:action="@{/modifyFAQForm(noticeNo=${FAQ.noticeNo})}"></form>
			</div>
		</div>
		<a th:href="@{/getFAQList}">목록으로 이동</a>
	</body>
	<script>
	$('#modifyFQABtn').click(function(){
		let result = confirm('정말 FAQ를 수정하시겠습니까?');
		
		if(!result) {
			console.log('취소');
			return;
		} else {
			console.log('확인');
			$('modifyFQAForm').submit();
		}
	});
	
	$('#removeFAQBtn').click(function(){
		let result = confirm('정말 FAQ를 삭제하시겠습니까?');
		
		if(!result) {
			console.log('취소');
			return;
		} else {
			console.log('확인');
			$('#removeFAQForm').submit();
		}
	});
	</script>
</html>