<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devinforest.mapper.AdminMemberMapper">
	<!-- 탈퇴회원 목록 -->
	<select id="selectRemoveMemberList"
			parameterType="java.util.Map"
			resultType="com.devinforest.vo.Member">
		SELECT
			member_email      memberEmail,
			member_name       memberName,
			account_kind      accountKind,
			member_reputation memberReputation,
			member_location   memberLocation,
			member_phone      memberPhone,
			member_link       memberLink,
			member_gender     memberGender,
			member_about      memberAbout,
			member_birth      memberBirth,
			member_date       memberDate,
			member_state      memberState
		FROM dev_member
		WHERE member_email LIKE CONCAT('%',#{searchWord},'%') 
		AND member_state = 'N'
		ORDER BY member_email
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	<!-- 탈퇴회원 totalCount -->
	<select id="selectRemoveMemberTotalCount"
			parameterType="String"
			resultType="int">
		SELECT 
			COUNT(*)
		FROM dev_member
		WHERE member_email LIKE CONCAT('%',#{searchWord},'%')
		AND member_state = 'N'
	</select>
	<!-- 재가입 실행 시 이메일 있는지 확인 -->
	<select id="selectMemberEmail"
			parameterType="String"
			resultType="String">
		SELECT
			member_email memberEmail
		FROM dev_member
		WHERE member_email = #{memberEmail}
	</select>
	<!-- 회원복구 or 재가입 실행 - 회원상태변경 -->
	<update id="updateMemberState"
			parameterType="String">
		UPDATE
			dev_member
		SET
			member_state = 'Y'
		WHERE member_Email = #{memberEmail}
	</update>
	<!-- 기업회원 목록 -->
	<select id="selectCompanyList" parameterType="java.util.Map" resultType="com.devinforest.vo.Company" >
		SELECT
			company_email      companyEmail,
			company_kor_name   companyKorName,
			company_eng_name   companyEngName, 
			company_type       companyType, 
			company_address    companyAddress, 
			company_phone      companyPhone, 
			company_license    companyLicense,
			company_link       companyLink, 
			company_ceo        companyCEO , 
			company_sales      companySales,
			company_employees  companyEmployees,
			company_about      companyAbout,
			company_foundation companyFoundation,
			company_date       companyDate
		FROM dev_company
		WHERE company_kor_name LIKE CONCAT('%',#{searchWord},'%')
		ORDER BY company_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	<!-- 기업회원 totalCount -->
	<select id="selectCompanyTotalCount"
			parameterType="String"
			resultType="int">
		SELECT 
			COUNT(*)
		FROM dev_company
		WHERE company_kor_name LIKE CONCAT('%',#{searchWord},'%')
	</select>
	<!-- 기업회원 상세보기 -->
	<select id="selectCompanyInfo"
			parameterType="String"
			resultType="com.devinforest.vo.Company">
		SELECT 
			company_email      companyEmail,
			company_kor_name   companyKorName,
			company_eng_name   companyEngName, 
			company_type       companyType, 
			company_address    companyAddress, 
			company_phone      companyPhone, 
			company_license    companyLicense,
			company_link       companyLink, 
			company_ceo        companyCEO , 
			company_sales      companySales,
			company_employees  companyEmployees,
			company_about      companyAbout,
			company_foundation companyFoundation,
			company_date       companyDate
		FROM dev_company
		WHERE company_email = #{companyEmail}
	</select>
	
	<!-- 블랙 팝업창에 출력할 데이터 출력 -->
	<select id="blackMemberOne"
			parameterType="String"
			resultType="String">
		SELECT
			member_email memberEmail
		FROM dev_member
		WHERE member_name = #{memberName}
	</select>
	<!-- 멤버 삭제 -->
	<delete id="deleteMemberByName"
			parameterType="String">
		DELETE FROM dev_member
		WHERE member_name = #{memberName}
	</delete>
	<!-- 블랙리스트 추가 -->
	<insert id="insertBlackList"
			parameterType="com.devinforest.vo.BlackList">
		INSERT INTO dev_blacklist (member_email, member_name, blacklist_reason, blacklist_date)
		VALUES (#{memberEmail}, #{memberName}, #{blackListReason}, now())
	</insert>
	<!-- 블랙회원 리스트 출력 -->
	<select id="selectBlackMemberList"
			parameterType="java.util.Map"
			resultType="com.devinforest.vo.BlackList">
		SELECT
			member_email memberEmail, 
			member_name memberName, 
			blacklist_reason blackListReason, 
			blacklist_date blackListDate
		FROM dev_blacklist
		WHERE member_email LIKE CONCAT('%',#{searchWord},'%')
		ORDER BY blacklist_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	<!-- 블랙 totalCount -->
	<select id="blackTotalCount"
			parameterType="String"
			resultType="int">
		SELECT 
			COUNT(*)
		FROM dev_blacklist
		WHERE member_email LIKE CONCAT('%',#{searchWord},'%')
	</select>
	<!-- 일반회원 리스트 출력 -->
	<select id="selectMemberList"
			parameterType="java.util.Map"
			resultType="com.devinforest.vo.Member">
		SELECT
			member_email      memberEmail,
			member_name       memberName,
			account_kind      accountKind,
			member_reputation memberReputation,
			member_location   memberLocation,
			member_phone      memberPhone,
			member_link       memberLink,
			member_gender     memberGender,
			member_about      memberAbout,
			member_birth      memberBirth,
			member_date       memberDate,
			member_state      memberState
		FROM dev_member
		WHERE member_email LIKE CONCAT('%',#{searchWord},'%')
		AND member_state = 'Y'
		ORDER BY member_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	<!-- 일반회원 totalCount -->
	<select id="memberTotalCount"
			parameterType="String"
			resultType="int">
		SELECT 
			COUNT(*)
		FROM dev_member
		WHERE member_email LIKE CONCAT('%',#{searchWord},'%')
	</select>
	<!-- 일반회원 상세보기 출력 -->
	<select id="selectMemberInfo"
			parameterType="String"
			resultType="com.devinforest.vo.Member">
		SELECT
			member_email      memberEmail,
			member_name       memberName,
			account_kind      accountKind,
			member_reputation memberReputation,
			member_location   memberLocation,
			member_phone      memberPhone,
			member_link       memberLink,
			member_gender     memberGender,
			member_about      memberAbout,
			member_birth      memberBirth,
			member_date       memberDate,
			member_state      memberState
		FROM dev_member
		WHERE member_email = #{memberEmail}
		AND member_state = 'Y'
	</select>
</mapper>