<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devinforest.mapper.AdminQuestionMapper">
	<!-- 모든 질문 목록  -->
	<select id="selectQuestionList"
			parameterType="java.util.Map"
			resultType="com.devinforest.vo.Question">
		SELECT 
			question_no questionNo,
			member_name memberName,
			question_title questionTitle,
			question_content questionContent,
			question_reputation reputation,
			question_createdate questionCreateDate,
			question_updatedate questionUpdateDate,
			question_ip questionIp,
			question_views questionViews
		FROM dev_question
		WHERE question_title LIKE CONCAT('%', #{searchWord}, '%') 
		ORDER BY question_createdate DESC
		LIMIT #{beginRow}, #{rowPerPage} 
	</select>
	
	<!-- 질문 총 갯수 조회  -->
	<select id="questionTotalRow"
			parameterType="String"
			resultType="int">
		SELECT 
			COUNT(*)
		FROM dev_question
		WHERE question_title LIKE CONCAT('%',#{searchWord},'%')
	</select>
	
	<!-- 모든 답변 목록 -->
	<select id="selectAnswerList"
			parameterType="java.util.Map"
			resultType="com.devinforest.vo.Answer" >
		SELECT 
			answer_no answerNo,
			question_no questionNo,
			member_name memberName,
			answer_content answerContent,
			answer_createdate answerCreateDate,
			answer_updatedate answerUpdateDate,
			answer_ip answerIp
		FROM dev_answer
		WHERE answer_no LIKE CONCAT('%', #{searchWord}, '%')
		OR member_name LIKE CONCAT('%', #{searchWord}, '%')
		OR answer_ip LIKE CONCAT('%', #{searchWord}, '%')
		ORDER BY answer_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 답변 총 갯수 조회  -->
	<select id="answerTotalRow"
			parameterType="com.devinforest.vo.Answer"
			resultType="int">
		SELECT
			COUNT(*)
		FROM dev_answer
		WHERE answer_no LIKE CONCAT('%', #{searchWord}, '%')
		OR member_name LIKE CONCAT('%', #{searchWord}, '%')
		OR answer_ip LIKE CONCAT('%', #{searchWord}, '%')
	</select>
	
	<!-- 질문 댓글 목록 -->
	<select id="selectQuestionCommentList"
			parameterType="java.util.Map"
			resultType="com.devinforest.vo.QuestionComment">
		SELECT 
			question_comment_no questionCommentNo,
			question_no questionNo,
			member_name memberName,
			question_comment_content questionCommentContent,
			question_comment_date questionCommentDate,
			question_comment_ip questionCommentIp
		FROM dev_question_comment
		WHERE question_comment_no LIKE CONCAT('%', #{searchWord}, '%')
		OR member_name LIKE CONCAT('%', #{searchWord}, '%')
		ORDER BY question_comment_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 질문 댓글 총 개수 -->
	<select id="selectQuestionCommentTotalRow"
			parameterType="com.devinforest.vo.QuestionComment"
			resultType="int">
		SELECT 
			COUNT(*)
		FROM dev_question_comment
		WHERE question_comment_no LIKE CONCAT('%', #{searchWord}, '%')
		OR member_name LIKE CONCAT('%', #{searchWord}, '%')
	</select>
	
	<!-- 답변 댓글 목록 -->
	<select id="selectAnswerCommentList"
			parameterType="java.util.Map"
			resultType="com.devinforest.vo.AnswerComment">
		SELECT 
			answer_comment_no answerCommentNo,
			answer_no answerNo,
			member_name memberName,
			answer_comment_content answerCommentContent,
			answer_comment_date answerCommentDate,
			answer_comment_ip answerCommentIp
		FROM dev_answer_comment
		WHERE answer_comment_no LIKE CONCAT('%', #{searchWord}, '%')
		OR member_name LIKE CONCAT('%', #{searchWord}, '%')
		ORDER BY answer_comment_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 답변 댓글 총 개수 -->
	<select id="selectAnswerCommentTotalRow"
			parameterType="com.devinforest.vo.AnswerComment"
			resultType="int">
		SELECT 
			COUNT(*)
		FROM dev_answer_comment
		WHERE answer_comment_no LIKE CONCAT('%', #{searchWord}, '%')
		OR member_name LIKE CONCAT('%', #{searchWord}, '%')
	</select>
	
	<select id="selectQuestionContent"
			parameterType="int"
			resultType="com.devinforest.vo.Question">
		SELECT
			question_title questionTitle,
			question_content questionContent
		FROM dev_question
		WHERE question_no = #{questionNo}
	</select>
</mapper>