<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devinforest.mapper.AnswerMapper">
	<!-- 질문에 대한 답변 목록 -->
	<select id="selectAnswerList" resultType="com.devinforest.vo.Answer" parameterType="java.util.Map">
		SELECT 
			answer_no answerNo,
			member_name memberName,
			answer_content answerContent,
			answer_createdate answerCreateDate,
			answer_updatedate answerUpdateDate,
			answer_ip answerIp
		FROM dev_answer
		WHERE question_no = #{questionNo}
		ORDER BY answer_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 답변  총 개수 -->
	<select id="answerTotalCount" resultType="int" parameterType="com.devinforest.vo.Question">
		SELECT
			COUNT(*)
		FROM
			dev_answer
		WHERE
			question_no = #{questionNo}
	</select>
	
	<!-- 답변 작성 -->
	<insert id="insertAnswer" parameterType="com.devinforest.vo.Answer">
		INSERT INTO 
			dev_answer(
				member_name,
				question_no,
				answer_content,
				answer_createdate,
				answer_updatedate,
				answer_ip
			)
			VALUES(
				#{memberName},
				#{questionNo},
				#{answerContent},
				NOW(),
				NOW(),
				#{answerIp}
			)
	</insert>
	
	<!-- 답변 수정 -->
	<update id="updateAnswer" parameterType="com.devinforest.vo.Answer">
		UPDATE dev_answer 
		SET 
			answer_content = #{answer_content},
			answer_updatedate = NOW(),
			answer_ip = #{answerIp}
		WHERE 
			answer_no = #{answerNo} 
	</update>
	
	<!-- 답변 삭제 -->
	<delete id="deleteAnswer" parameterType="com.devinforest.vo.Answer">
		DELETE FROM dev_answer
		WHERE answer_no = #{answerNo}
	</delete>
	
	<!-- 게시글 삭제를 위해 게시글의 모든 답변 삭제 -->
	<delete id="deleteAnswerAll" parameterType="com.devinforest.vo.Question">
		DELETE FROM dev_answer
		WHERE question_no = #{questionNo}
	</delete>
	<!-- 답변 삭제 후 백업 -->
	<insert id="insertAnswerBack" parameterType="com.devinforest.vo.Answer">
		INSERT INTO 
			dev_answer_back(
				answer_no,
				question_no,
				member_name,
				answer_content,
				answer_createdate,
				answer_updatedate,
				answer_back_date,
				answer_ip
			)
			VALUES(
				#{answerNo},
				#{questionNo},
				#{memberName},
				#{answerContent},
				#{answerCreateDate},
				#{answerUpdateDate},
				NOW(),
				#{answerIp}
			)
	</insert>
	
	<!-- 백업할 게시글 답변 가져오기 -->
	<select id="selectAnswerOne" parameterType="com.devinforest.vo.Answer" resultType="com.devinforest.vo.Answer">
		SELECT
			answer_no answerNo,
			question_no questionNo,
			member_name memberName,
			answer_content answerContent,
			answer_createdate answerCreateDate,
			answer_updatedate answerUpdateDate,
			answer_ip answerIp
		FROM dev_answer
		WHERE answer_no = #{answerNo}
	</select>
	
</mapper>