<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devinforest.mapper.CommentMapper">
	<!-- 질문 댓글 작성 -->
	<insert id="insertQuestionComment" parameterType="com.devinforest.vo.QuestionComment">
		INSERT INTO
			dev_question_comment(
				question_no,
				member_name,
				question_comment_content,
				question_comment_date,
				question_comment_ip
			)
			VALUES(
				#{questionNo},
				#{memberName},
				#{questionCommentContent},
				NOW(),
				#{questionCommentIp}
			)
	</insert>
	
	<!-- 질문 댓글 목록 -->
	<select id="selectQuestionCommentList" resultType="com.devinforest.vo.QuestionComment" parameterType="java.util.Map">
		SELECT 
			question_comment_no questionCommentNo,
			member_name memberName,
			question_comment_content questionCommentContent
		FROM dev_question_comment
		WHERE question_no = #{questionNo}
		ORDER BY question_comment_date DESC
		LIMIT 0, #{rowPerPage}
	</select>
	<!-- 질문 댓글 총 개수 -->
	<select id="selectQuestionCommentTotalRow" resultType="int" parameterType="com.devinforest.vo.QuestionComment">
		SELECT 
			COUNT(*)
		FROM 
			dev_question_comment
		WHERE 
			question_no = #{questionNo}
	</select>
	<!-- 백업할 게시글의 댓글 가져오기 -->
	<select id="selectQuestionCommentOne" parameterType="com.devinforest.vo.QuestionComment" resultType="com.devinforest.vo.QuestionComment">
		SELECT
			question_comment_no      questionCommentNo,
			question_no              questionNo,
			member_name              memberName,
			question_comment_content questionCommentContent,
			question_comment_date    questionCommentDate,
			question_comment_ip      questionCommentIp
		FROM dev_question_comment
		WHERE question_comment_no = #{questionCommentNo}
	</select>
	<!-- 신고된 게시글의 댓글 백업 -->
	<insert id="insertQuestionCommentBack" parameterType="com.devinforest.vo.QuestionComment">
		INSERT INTO
			dev_question_comment_back(
				question_comment_no,
				question_no,
				member_name,
				question_comment_content,
				question_comment_date,
				question_comment_ip
			)
			VALUES(
				#{questionCommentNo},
				#{questionNo},
				#{memberName},
				#{questionCommentContent},
				#{questionCommentDate},
				#{questionCommentIp}
			)
	</insert>
	<!-- 신고된 게시글의 댓글 삭제 -->
	<delete id="deleteQuestionComment" parameterType="com.devinforest.vo.QuestionComment">
		DELETE 
		FROM dev_question_comment
		WHERE question_comment_no = #{questionCommentNo}
	</delete>
	
	<!-- **************************************************************************************************************** -->
	<!-- **************************************************************************************************************** -->
	<!-- **************************************************************************************************************** -->
		
	<!-- 답변 댓글 작성 -->
	<insert id="insertAnswerComment" parameterType="com.devinforest.vo.AnswerComment">
		INSERT INTO
			dev_answer_comment(
				answer_no,
				member_name,
				answer_comment_content,
				answer_comment_date,
				answer_comment_ip
			)
			VALUES(
				#{answerNo},
				#{memberName},
				#{answerCommentContent},
				NOW(),
				#{answerCommentIp}
			)
	</insert>
	<!-- 답변 댓글 목록 -->
	<select id="selectAnswerCommentList" resultType="com.devinforest.vo.AnswerComment" parameterType="java.util.Map">
		SELECT 
			answer_comment_no answerCommentNo,
			answer_no answerNo,
			member_name memberName,
			answer_comment_content answerCommentContent
		FROM dev_answer_comment
		WHERE answer_no = #{answerNo}
		ORDER BY answer_comment_date DESC
		LIMIT 0, #{rowPerPage}
	</select>
	<!-- 답변 댓글 총 개수 -->
	<select id="selectAnswerCommentTotalRow" resultType="int" parameterType="com.devinforest.vo.AnswerComment">
		SELECT 
			COUNT(*)
		FROM 
			dev_answer_comment
		WHERE 
			answer_no = #{answerNo}
	</select>
	<!-- 백업할 답변의 댓글 가져오기 -->
	<select id="selectAnswerCommentOne" parameterType="com.devinforest.vo.AnswerComment" resultType="com.devinforest.vo.AnswerComment">
		SELECT
			answer_comment_no      answerCommentNo,
			answer_no              answerNo,
			member_name            memberName,
			answer_comment_content answerCommentContent,
			answer_comment_date    answerCommentDate,
			answer_comment_ip      answerCommentIp
		FROM dev_answer_comment
		WHERE answer_comment_no = #{answerCommentNo} 
	</select>
	<!-- 신고된 답변의 댓글 백업 -->
	<insert id="insertAnswerCommentBack" parameterType="com.devinforest.vo.AnswerComment">
		INSERT INTO
			dev_answer_comment_back(
				answer_comment_no,
				answer_no,
				member_name,
				answer_comment_content,
				answer_comment_date,
				answer_comment_ip
			)
			VALUES(
				#{answerCommentNo},
				#{answerNo},
				#{memberName},
				#{answerCommentContent},
				#{answerCommentDate},
				#{answerCommentIp}
			)
	</insert>
	<!-- 신고된 답변의 댓글 삭제 -->
	<delete id="deleteAnswerComment" parameterType="com.devinforest.vo.AnswerComment">
		DELETE 
		FROM dev_answer_comment
		WHERE answer_comment_no = #{answerCommentNo}
	</delete>
	
</mapper>