<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devinforest.mapper.CommentMapper">
	<!-- 질문 댓글 작성 -->
	<insert id="insertQuestionComment" parameterType="com.devinforest.vo.QuestionComment">
		INSERT INTO
			dev_question_comment(
				question_no,
				member_name,
				question_comment_content,
				question_comment_date,
				question_comment_ip
			)
			VALUES(
				#{questionNo},
				#{memberName},
				#{questionCommentContent},
				NOW(),
				#{questionCommentIp}
			)
	</insert>
	
	<!-- 질문 댓글 목록 -->
	<select id="selectQuestionCommentList" resultType="com.devinforest.vo.QuestionComment" parameterType="java.util.Map">
		SELECT 
			question_comment_no questionCommentNo,
			member_name memberName,
			question_comment_content questionCommentContent
		FROM dev_question_comment
		WHERE question_no = #{questionNo}
		ORDER BY question_comment_date ASC
		LIMIT 0, #{rowPerPage}
	</select>
	<!-- 질문 댓글 총 개수 -->
	<select id="selectQuestionCommentTotalRow" resultType="int" parameterType="com.devinforest.vo.QuestionComment">
		SELECT 
			COUNT(*)
		FROM 
			dev_question_comment
		WHERE 
			question_no = #{questionNo}
	</select>
	
	<!-- **************************************************************************************************************** -->
	<!-- **************************************************************************************************************** -->
	<!-- **************************************************************************************************************** -->
		
	<!-- 답변 댓글 작성 -->
	<insert id="insertAnswerComment" parameterType="com.devinforest.vo.AnswerComment">
		INSERT INTO
			dev_answer_comment(
				answer_no,
				member_name,
				answer_comment_content,
				answer_comment_date,
				answer_comment_ip
			)
			VALUES(
				#{answerNo},
				#{memberName},
				#{answerCommentContent},
				NOW(),
				#{answerCommentIp}
			)
	</insert>
	<!-- 답변 댓글 목록 -->
	<select id="selectAnswerCommentList" resultType="com.devinforest.vo.AnswerComment" parameterType="java.util.Map">
		SELECT 
			answer_comment_no answerCommentNo,
			member_name memberName,
			answer_comment_content answerCommentContent
		FROM dev_answer_comment
		WHERE answer_no = #{answerNo}
		ORDER BY answer_comment_date ASC
		LIMIT 0, #{rowPerPage}
	</select>
	<!-- 답변 댓글 총 개수 -->
	<select id="selectAnswerCommentTotalRow" resultType="int" parameterType="com.devinforest.vo.AnswerComment">
		SELECT 
			COUNT(*)
		FROM 
			dev_answer_comment
		WHERE 
			answer_no = #{answerNo}
	</select>
	

</mapper>