<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devinforest.mapper.CompanyMapper">
	<insert id="insertCompanyMember" parameterType="com.devinforest.vo.Company">
	insert into dev_company	
	( company_email, company_password,company_kor_name,company_eng_name,company_address,
		company_phone,company_date)
	values(
		#{companyEmail},
		#{companyPw},
		#{companyKorName},
		#{companyEngName},
		#{companyAddress},
		#{companyPhone},
		NOW()
		)
	</insert>
	<select id="checkCompanyEmail" parameterType="String" resultType="int">
		SELECT SUM(t.cnt) FROM
		(SELECT COUNT(*) AS cnt FROM dev_member WHERE member_email=#{companyEmail}
		UNION all
		SELECT COUNT(*) AS cnt FROM dev_admin WHERE admin_email=#{companyEmail}
		UNION all
		SELECT COUNT(*) AS cnt FROM dev_company  WHERE company_email=#{companyEmail}) t
		
	</select>
	<select id="checkCompanyKorName" parameterType="String" resultType="int">
		SELECT SUM(t.cnt) FROM
		(SELECT COUNT(*) AS cnt FROM dev_company  WHERE company_kor_name=#{companyKorName}) t
	</select>
	<select id="checkCompanyEngName" parameterType="String" resultType="int">
		SELECT SUM(t.cnt) FROM
		(SELECT COUNT(*) AS cnt FROM dev_company  WHERE company_eng_name=#{companyEngName}) t
	</select>
</mapper>