<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devinforest.mapper.NoticeMapper">
	<!-- 공지사항 목록  -->
	<select id="selectNoticeList" 
			parameterType="java.util.Map"
			resultType="com.devinforest.vo.Notice">
		SELECT
			notice_no      noticeNo,
			admin_name     adminName,
			notice_title   noticeTitle,
			notice_content noticeContent,
			notice_date    noticeDate,
			notice_ip      noticeIp
		FROM dev_notice
		WHERE notice_title LIKE CONCAT('%',#{searchWord},'%')
		AND notice_kind = 'notice'
		ORDER BY notice_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	<!-- 공지사항 totalCount -->
	<select id="adminTotalCount"
			parameterType="String"
			resultType="int">
		SELECT 
			COUNT(*)
		FROM dev_notice
		WHERE notice_title LIKE CONCAT('%',#{searchWord},'%')
		AND notice_kind = 'notice'
	</select>
	<!-- 공지사항 상세보기 -->
	<select id="selectNoticeOne"
			parameterType="int"
			resultType="com.devinforest.vo.Notice">
		SELECT
			notice_no      noticeNo,
			admin_name     adminName,
			notice_title   noticeTitle,
			notice_content noticeContent,
			notice_date    noticeDate,
			notice_ip      noticeIp,
			notice_kind	   noticeKind
		FROM dev_notice
		WHERE notice_no = #{noticeNo}
	</select>
	<!-- 공지사항 추가 -->
	<insert id="insertNotice"
			parameterType="com.devinforest.vo.Notice">
		INSERT INTO
		dev_notice(
			admin_name,
			notice_title,
			notice_content,
			notice_date,
			notice_ip,
			notice_kind
		)
		VALUES(
			#{adminName},
			#{noticeTitle},
			#{noticeContent},
			NOW(),
			#{noticeIp},
			'notice'
		)
	</insert>
</mapper>