<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devinforest.mapper.QuestionMapper">
	
	<!-- 질문 목록  -->
	<select id="selectQuestionList" resultType="com.devinforest.vo.Question" parameterType="com.devinforest.vo.Question">
		SELECT 
			question_no questionNo,
			member_name memberName,
			question_title questionTitle,
			question_content questionContent,
			question_reputation reputation,
			question_createdate questionCreateDate,
			question_updatedate questionUpdateDate,
			question_ip questionIp
		FROM dev_question
	</select>
</mapper>