<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devinforest.mapper.ReportMapper">
	<!-- 신고내역 목록 -->
	<select id="selectReportList"
			parameterType="java.util.Map"
			resultType="com.devinforest.vo.Report">
		SELECT
			report_no           reportNo,
			member_name         memberName,
			report_member_name  reportMemberName,
			question_no         questionNo,
			question_comment_no questionCommentNo,
			answer_no           answerNo,
			answer_comment_no   answerCommentNo,
			report_kind         reportKind,
			report_title        reportTitle,
			report_content      reportContent,
			report_date         reportDate,
			report_state        reportState
		FROM dev_report
		WHERE report_title like CONCAT('%',#{searchWord},'%')
		AND report_kind like CONCAT('%',#{reportKind},'%')
		ORDER BY report_state, report_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	<!-- 신고내역 TotalCount -->
	<select id="reportTotalCount"
			parameterType="java.util.Map"
			resultType="int">
		SELECT 
			COUNT(*)
		FROM dev_report
		WHERE report_title like CONCAT('%',#{searchWord},'%')
		AND report_kind like CONCAT('%',#{reportKind},'%')
	</select>
	<!-- 신고내역 상세보기 -->
	<select id="selectReportOne"
			parameterType="int"
			resultType="com.devinforest.vo.Report">
		SELECT
			report_no           reportNo,
			member_name         memberName,
			report_member_name  reportMemberName,
			question_no         questionNo,
			question_comment_no questionCommentNo,
			answer_no           answerNo,
			answer_comment_no   answerCommentNo,
			report_kind         reportKind,
			report_title        reportTitle,
			report_content      reportContent,
			report_date         reportDate,
			report_state        reportState
		FROM dev_report
		WHERE report_no = #{reportNo}
	</select>
	<!-- 신고 조치유무 변경- 게시글 답글의 댓글 조치완료 -->
	<update id="updateAnswerCommentNoOfReportState"
			parameterType="int">
		UPDATE
			dev_report
		SET
			report_state = 'Y'
		WHERE answer_comment_no = #{answerCommentNo}
	</update>
	<!-- 신고 조치유무 변경- 게시글 답글 조치완료 -->
	<update id="updateAnswerNoOfReportState"
			parameterType="int">
		UPDATE
			dev_report
		SET
			report_state = 'Y'
		WHERE answer_no_no = #{answerNo}
	</update>
	<!-- 신고 조치유무 변경- 게시글 댓글 조치완료 -->
	<update id="updateQuestionCommentNoOfReportState"
			parameterType="int">
		UPDATE
			dev_report
		SET
			report_state = 'Y'
		WHERE question_comment_no = #{questionCommentNo}
	</update>
	<!-- 신고 조치유무 변경- 게시글  조치완료 -->
	<update id="updateQuestionNoOfReportState"
			parameterType="int">
		UPDATE
			dev_report
		SET
			report_state = 'Y'
		WHERE question_no = #{questionNo}
	</update>
</mapper>